
h1{
  font-family: 'Karla', sans-serif;
  font: 30pt/1 Karla, bold, sans-serif;
  color:white;
  }

body {
  font-family: 'Karla', sans-serif;
  font: 20pt/1 Karla, sans-serif;
  color:white;
  background: linear-gradient(to left, #fff, pink)
  
  }
  
/*a comment*/
a{
  color:#DA4AAC;
}


 
